
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200;1,300&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: "Raleway", sans-serif;
}
*::selection{
    background: #ff589e;
}
/* Header */

.Box1{
    margin-top: 30px;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    height: 80px;
    align-items: center;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
}
.item-text-header{
    margin-left: 23px;
    flex: 1;
}
.item-logo-header{
    margin-left: 30px;
    width: 27%;
   
}
.header .Box1 ul{

    display: flex;
    margin: 0;
    padding: 0;
}
.header .Box1 ul li{
    padding: 0 20px;
   
}
.header .Box1 ul li:last-child{
   padding-right: 0;
}
.header .Box1 ul li a{
    font-weight: 500;
    font-size: 13px;
    color: #1e1e1e;
    text-decoration: none;
}
.header .Box1 ul li a:hover{
    color: #ff589e;
}
.header .Box1 ul li a.active{
    color: #ff589e;
}
/* End Header */

/* Body1 */
.body1{
    overflow: hidden;
    background-image: url(../images/banner-bg.png);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 874px;
    width: auto;
}
.Box2{
    text-align: center;
    width: 100%;

}
.text-body1{
   margin-left: 285px;
   color: white;

}
.body1 .text-body1 h1{
    font-size: 37px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 54px;
}
.body1 .text-body1 p{
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 40px;
}
.body1 .btn-main1{
    background-color: #ff589e;;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
.body1 .btn-main1:hover{
    background-color: #8261ee;
    color: white;
}
/* End Body1 */
.body2{
    margin-top: -199px;
}
.body2 .item-body2{
    cursor: pointer;
    background: white;
    text-align: center;
    display: block;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0 2px 48px 0 rgb(0 0 0 / 10%);
    border-radius: 20px;
}
.body2 .icon-body2{
    background: #8261ee;
    position: relative;
    width: 90px;
    height: 90px;
    line-height: 90px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
}
.body2 .icon-body2:hover{
    background: #ff589e;
}
.body2 .text-body2 h5{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.7px;
    margin-bottom: 15px;
    position: relative;
}
.body2 .text-body2 p{
    margin-bottom: 0;
}

/* body3 */
.body3{
    padding-top: 70px;
    padding-bottom: 70px;
}
.body3 .row{
    align-items: center;
}
.image-body3 img{
    margin-left: 82px;
}
.text-body3 h2{
    margin-bottom: 30px;
}
.textbig-body3 p{
    margin-bottom: 30px;
}
/* end body3 */
/* body4 */
.body4{
    padding-top: 70px;
    padding-bottom: 70px;
}
.body4 .row{
    align-items: center;
}
.image-body4 img{
    margin-left: 158px;
}
/* end body4 */

/* 
body5 */
.backgroud-body5{
    min-height: 215px;
    overflow: hidden;
    position: relative;
    padding-top: 70px;
    padding-bottom: 70px;
}
.backgroud-body5::before{
    content: '';
    position: absolute;
    background-image: url(../images/work-process-bg.png);
    width: 140%;
    height: 140%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    top: -20%;
    left: -20%;
}
.body5 .box-item-body5{
    text-align: center;
}
.body5 .text-body5 p{
    margin-bottom: 58px;
    color: #fff;
    letter-spacing: 0.25px;
    line-height: 26px;
    font-weight: 400;
    font-size: 15px;
}
.body5 .textbig-body5 h1{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.25px;
    margin-bottom: 30px;
    margin-top: 0;
    font-size: 28px;
}
.body5 .item-icon-body5{
    display: block;
    background: white;
    border-radius: 20px;
    box-shadow: 0 2px 48px 0 rgb(0 0 0 / 8%);
    margin-bottom: 30px;
    position: relative;
    text-align: center;
    padding: 20px;
    transition: all 0.3s ease 0s;
}
.body5 .item-icon-body5::before{
    content: "";
    position: absolute;
    background: white;
    width: 100%;
    opacity: 0.15;
    height: 100%;
    bottom: -10px;
    left: 0px;
    right: -20px;
    margin: auto;
    border-radius: 20px
}
.body5 .item-icon-body5:hover{
    margin-top: -10px;
}
.body5 .icon-body5 i{
    display: block;
    font-size: 20px;
    margin-bottom: 15px;

}
.text-item-icon-body5 strong{
    display: block;
    font-weight: 400;
    font-size: 17px;
    color: #1e1e1e;
    letter-spacing: 0.25px;
    margin-bottom: 5px;
    margin-top: 20px;
}

.text-item-icon-body5 span{
    display: block;
    font-weight: 400;
    font-size: 14px;
    color: #777;
    letter-spacing: 1.75px;
}

/* end body5 */

/* body6 */
.body6{
    padding-top: 70px;
    padding-bottom: 70px;
}
.body6 .box-item-body6{
    text-align: center;
}
.body6 .textbig-body6 h2{
    font-weight: 500;
    font-size: 28px;
    color: #1e1e1e;
    letter-spacing: 1.75px;
    line-height: 38px;
    margin-bottom: 20px;
}
.body6 .text-body6 p{
    font-size: 15px;
    margin-bottom: 30px;
}
.body6 .item-icon-body6{
    background: #fff;
    box-shadow: 0 2px 48px 0 rgb(0 0 0 / 10%);
    border-radius: 20px;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 25px;
    text-align: center;
}
.body6 .item-icon-body6 i img{
    margin-top: 25px;
    margin-bottom: 25px;
}
.body6 .item-icon-body6 p{
    text-align: left;
    margin-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 25px;
    margin-top: 0;
    font-weight: 400;
    font-size: 15px;
    color: #777;
    letter-spacing: 0.6px;
    line-height: 26px;
}

.body6 .user-image-body6{
    border-radius: 100%;
    overflow: hidden;
    width: 60px;
    height: 60px;
    margin-left: 40px;
    float: left;
}
.body6 .temp-info-body6{
    float: left;
    margin-left: 20px;
    flex: 1;
    text-align: left;
    transition: all 0.3s ease 0s;

}
.body6 .temp-info-body6:hover{
    float: left;
    margin-left: 35px;
    flex: 1;
    text-align: left;

}
.body6 .temp-info-body6 h3{
    display: block;
    font-weight: 400;
    font-size: 17px;
    color: #1e1e1e;
    letter-spacing: 0.25px;
    margin-bottom: 5px;
    
}
.body6 .temp-info-body6 span{
    display: block;
    font-weight: 400;
    font-size: 15px;
    color: #ff589e;
    letter-spacing: 0.25px;
}
.body6 .info-body6{
    justify-content: center;
    align-items: center;
}
/* end body6 */

/* body7 */
.body7{
    padding-top: 70px;
    padding-bottom: 70px;
    background: #f2f2fe;
}
.body7 .box-item-body7 h2{
    font-weight: 500;
    font-size: 28px;
    color: #1e1e1e;
    letter-spacing: 1.75px;
    line-height: 38px;
    margin-bottom: 20px;
}
.body7 .box-item-body7 p{
    font-size: 15px;
    color: #777;
    margin-bottom: 50px;
}
.body7 .row .row{
    flex: 1;
}
.body7 .item-icon-body7{
    background: #FFFFFF;
    box-shadow: 0 2px 48px 0 rgb(0 0 0 / 10%);
    border-radius: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 30px 0px 40px 0px;
    text-align: center;
}
.body7 .pricing-title{
    padding-bottom: 10px;
}
.body7 .pricing-title h3{
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0.25px;
    color: #1e1e1e;
    width: 180px;
    height: 40px;
    line-height: 40px;
    margin: auto;
}
.body7 .pricing-body7{
    margin-bottom: 40px;
}
.body7 .pricing-body7-wrapper{
    padding-top: 20px;
    padding-bottom: 13px;
    background: #8261ee;
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 5px;
    border-radius: 20px;
}
.body7 .pricing-body7 .active1{
    background-color: #ff589e;
}
.body7 .pricing-body7-wrapper .bieutuong{
    height: 47px;
    font-weight: 500;
    font-size: 32px;
    color: #fff;
    position: relative;
    top: -1px;
}
.body7 .pricing-body7-wrapper .sotien{
    font-weight: 500;
    font-size: 28px;
    color: #fff;
}
.body7 .pricing-body7-wrapper .thang{
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    display: block;
    letter-spacing: 0.88px;
}
.body7 .list-body7{
    padding: 0;
    margin: 0;
}

.body7 .list-body7 li{
    text-align: center;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 13px;
    color: #7a7a7a;
    letter-spacing: 0.25px;
    text-decoration: line-through;
}
.body7 .list-body7 .active{
    text-decoration: none;
}
.body7 .picing-button{
    margin-top: 50px;
}
.body7 .btn1-body6{
    font-size: 13px;
    border-radius: 20px;
    padding: 12px 20px;
    background-color: #8261ee;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.25px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.btn1-body6:hover{
    background-color: #ff589e;
    color: white;
}
/* end body7 */
/* body8 */
.body8{
    overflow: hidden;
    position: relative;
}
.body8::before{
    content: '';
    position: absolute;
    background-image: url(../images/fun-facts-bg.png);
    width: 140%;
    height: 140%;
    opacity: 0.9;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    top: -20%;
    left: -20%;

}
.body8 .item-icon-body8-active,.item-icon-body8-active2{
    position: relative;
    height: 340px;
    width: 100%;
    float: left;
}
.body8 .item-icon-body8-active::after{
    content: "";
    position: absolute;
    background: url(../images/circle-dec.png) center center no-repeat;
    width: 70%;
    height: 32px;
    top:160px;
    left: 70%;
    transition: all 0.3s ease 0s;
}
.body8 .item-icon-body8-active2::after{
    top: 140px;
}

.body8 .item-icon-body8 strong{
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 0.25px;
    margin-bottom: 10px;
    color: #fff;
    margin-top: 120px;
    transition: all 0.3s ease 0s;
}
.body8 .item-icon-body8 strong:hover{
    margin-top: 110px;
}
.body8 .item-icon-body8 span{
    display: block;
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0.25px;
}
/* end body8 */
/* body9 */
.body9{
    position: relative;
    padding-top: 100px;
    padding-bottom: 80px;
}
.body9 .box-item-body9 h2{
    font-weight: 500;
    font-size: 28px;
    color: #1e1e1e;
    letter-spacing: 1.75px;
    line-height: 38px;
    margin-bottom: 20px;
}
.body9 .box-item-body9 p{
    font-size: 15px;
    color: #777;
    margin-bottom: 50px;
}
.body9 .item-body9{
    text-align: center;
    margin-bottom: 30px;
}
.body9 .item-body9 .img-body9{
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    height: 200px;
}
.body9 .item-icon-body9{
    margin-top: -30px;
    padding-top: 50px;
}
.body9 .item-icon-body9 h3{
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 16px;
    letter-spacing: 1px;
}
.body9 .item-icon-body9 div{
    font-weight: 400;
    font-size: 13px;
    color: #777;
    letter-spacing: 0.26px;
    line-height: 26px;
    margin-bottom: 15px;
}
.body9 .btn1-body9{
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    font-size: 13px;
    border-radius: 20px;
    padding: 12px 20px;
    background-color: #8261ee;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.25px;
    transition: all 0.3s ease 0s;
}
.body9 .btn1-body9:hover{
    color: white;
    background-color: #ff589e;
}
/* end body9 */